@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card-wrapper {
        @apply p-8 rounded-lg bg-gradient-to-r from-orange-400 via-pink-500 to-indigo-600/90 shadow-lg backdrop-blur-md border border-white/30 hover:scale-[1.02] transition-transform duration-300;
    }
    .card-inner{
        @apply bg-slate-800 p-6 rounded-lg shadow-lg border border-white/20;
    }
    .card-title {
        @apply text-2xl text-center font-semibold mb-4 text-white;
    }
    .card-text{
        @apply text-center text-gray-100;
    }
}